# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
# *

# You can whitelist files/folders with !, these will not be ignored.
#!*.yaml
!.gitignore
!*.md
!LICENSE

# Ignore public stuff
www/*
!www/floorplan
#

# Ignore Folders
.vscode
.storage
.cloud
.google.token
tts
deps
glances
zones
__pycache__
icloud
bash
security
image
zigbee2mqtt

# Ignore Extensions
*.db
*.old
*.log
*.conf
*.HA_VERSION
*.db-shm
*.db-wal
*.csv
*.log.*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
security.yaml
known_devices.yaml
alarm_control_panel.yaml
emulated_hue_ids.json
security_automations.yaml
emergency_call.yaml
emergency_telegram.yaml
spook_inverse

# Ignore vendored stuff
custom_components