# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
# *

# You can whitelist files/folders with !, these will not be ignored.
#!*.yaml
!.gitignore
!*.md
!LICENSE
#
www/*
!www/lovelace
#

# Ignore folders.
.storage
.cloud
.google.token
tts
deps
glances
zones
__pycache__
icloud
bash
security

# Ignore extensions
*.db
*.old
*.log
*.conf
*.HA_VERSION
*.db-shm
*.db-wal

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
security.yaml
known_devices.yaml
alarm_control_panel.yaml