---
########## Automations ###########
title: Automatisering
icon: mdi:creation
path: automations
cards:
  # System
  - type: vertical-stack
    cards:
      - type: custom:banner-card
        background: 'var(--primary-color)'
        color: 'white'
        heading:
          - mdi:home-assistant
          - System
        style: |
          ha-card .heading {
            font-size: 1.1rem;
            font-weight: 500;
          }
      - type: custom:auto-entities
        card:
          type: entities
          show_header_toggle: false
        filter:
          include:
            - entity_id: automation.system*
              options:
                type: custom:multiple-entity-row
                toggle: true
                secondary_info: last-changed
          exclude:
            - entity_id: automation.system_ifttt_handling

  # People
  - type: vertical-stack
    cards:
      - type: custom:banner-card
        background: 'var(--primary-color)'
        color: 'white'
        heading:
          - mdi:account-multiple
          - People
        style: |
          ha-card .heading {
            font-size: 1.1rem;
            font-weight: 500;
          }
      - type: custom:auto-entities
        card:
          type: entities
          show_header_toggle: false
        filter:
          include:
            - entity_id: automation.people*
              options:
                type: custom:multiple-entity-row
                toggle: true
                secondary_info: last-changed

  # House
  - type: vertical-stack
    cards:
      - type: custom:banner-card
        background: 'var(--primary-color)'
        color: 'white'
        heading:
          - mdi:home
          - House
        style: |
          ha-card .heading {
            font-size: 1.1rem;
            font-weight: 500;
          }
      - type: custom:auto-entities
        card:
          type: entities
          show_header_toggle: false
        filter:
          include:
            - entity_id: automation.house*
              options:
                type: custom:multiple-entity-row
                toggle: true
                secondary_info: last-changed

  # Lights
  - type: vertical-stack
    cards:
      - type: custom:banner-card
        background: 'var(--primary-color)'
        color: 'white'
        heading:
          - mdi:lightbulb-multiple-outline
          - Lights
        style: |
          ha-card .heading {
            font-size: 1.1rem;
            font-weight: 500;
          }
      - type: custom:auto-entities
        card:
          type: entities
          show_header_toggle: false
        filter:
          include:
            - entity_id: automation.light*
              options:
                type: custom:multiple-entity-row
                toggle: true
                secondary_info: last-changed

  # Media
  - type: vertical-stack
    cards:
      - type: custom:banner-card
        background: 'var(--primary-color)'
        color: 'white'
        heading:
          - mdi:movie-open-play-outline
          - Media
        style: |
          ha-card .heading {
            font-size: 1.1rem;
            font-weight: 500;
          }
      - type: custom:auto-entities
        card:
          type: entities
          show_header_toggle: false
        filter:
          include:
            - entity_id: automation.media*
              options:
                type: custom:multiple-entity-row
                toggle: true
                secondary_info: last-changed
